body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
}

div{
    background-color: blue;
}

button { 
    padding: 10px 20px; 
    font-size: 16px; 
}

#excusa { 
    margin-top: 20px; 
    font-size: 20px; 
    font-weight: bold; 
    background-color: blueviolet;
    border-radius: 5px;
}